development:
  adapter: mysql2
  database: db_name
  username: db_user
  password: s3cr37
  host: localhost

test:
  adapter: mysql2
  database: db_name_test
  username: db_user
  password: s3cr37
  host: localhost

production:
  adapter: mysql2
  database: production_db_name
  username: production_db_user
  password: 5up3rs3cre7
  host: localhost