# Secrets file, information for 3rd party APIs, et c.

development:
  email:
    username: devUser
    password: devPassword
    port: 2525
  recaptcha:
    preorder:
      site_key: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI    # Default Google dev keys
      secret_key: 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe


test:
  recaptcha:
    preorder:
      site_key: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI    # Default Google dev keys
      secret_key: 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

production:
  email:
    username: productionUser
    password: productionPassword
    port: 587