# Secrets file, information for 3rd party APIs, et c.

development:
  secret_key_base: your_secret_key # run `rake secret` to generate
  email:
    username: devUser
    password: devPassword
    port: 2525
  recaptcha:
    preorder:
      site_key: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI    # Default Google dev keys
      secret_key: 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe


test:
  secret_key_base: your_secret_key # run `rake secret` to generate
  recaptcha:
    preorder:
      site_key: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI    # Default Google dev keys
      secret_key: 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

production:
  secret_key_base: your_secret_key # run `rake secret` to generate, some people like to use an ENV variable, I do not
  email:
    username: productionUser
    password: productionPassword
    port: 587