.glitchworks-form {
	font-family: monospace;
	font-size: 1em;
	color: #CCCCCC; 
	background-color: #111;
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #6B6B6B;
}

.navlink {
	font-family: monospace;
	font-size: 1em;
	font-weight: normal;
	color: LightGray;
	background-color: #020;
	border: 1px solid;
	border-color: #0A0;
	padding: 2px;
}

.navlink:hover {
	background-color: #040;
	color: white;
	border-color: #0F0;
}

.error {
	color: red;
}

.field_with_errors input {
  background-color: #200;
}

.error_explanation {
	color: white;
	background-color: #200;
	border: 1px solid;
	border-color: red;
}

.error_explanation_content {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.error_explanation_header {
	font-weight: bold;
}